@charset "utf-8";
/* CSS Document */


.error{ background-color:#c8c6c6;
color:#fff;
font-family:Verdana, Geneva, sans-serif;
font-size:9px;
border:0;
padding:2px;
margin-left:7px;}
	
	
.p1{color: #014289;
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
margin-left:10px;
}

.hr1{
border: #5c6eac 2px solid;}

.hr2{
border: #5c6eac 0.2mm solid;}

.option{ background-color: #e8ecf7;
border: #a3b7dc 1px solid;
padding:10px;
}

#option2{ background-color: #d8ddea;
padding:5px;
}
	